{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>
    {% include header.html t=t %}
    <main>
      <div class="main-overlay">
    <h1>{{ t.hero.title }}</h1>
    <h2>{{ t.hero.subtitle }}</h2>
    </div>
    
    <div class="buttons-wrapper">
          {% if page.lang == "ua" %}
            <a href="/ua/gallery/" class="btn btn-gallery">{{ t.view_gallery }}</a>
          {% else %}
            <a href="/gallery/" class="btn btn-gallery ">{{ t.view_gallery }}</a> 
          {% endif %}
    </div>
  </main>
  {% include footer.html t=t %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" integrity="sha512-Q43KKnW39yLyIflzzTWK58rCIYrBUNh1eav7Xnd0PbL+vqZxELNHIEAVOoAy1Kz9zwawX6ZjrsxGfBgslh3EUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </body>
</html>
